@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(130,106,251);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    }

    .container{
        position: relative;
       max-width: 700px;
       width: 100%;
       background: #fff;
       border-radius: 8px;
       box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
       padding: 25px;

    }


.container header{
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    color: #150da7;
    letter-spacing: 0.5px;
    font-size: 1.5rem;
    /* margin-bottom: 20px; */
    }

.container .form{
    margin-top: 30px;
}
.form .input-box{
    margin-top: 20px;
    width: 100%;
}
.input-box label{
    color: #333;
}
.form .input-box input, .select-box{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    margin-top: 8px;
    font-size: 1rem;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    transition: 0.3s ease;
}
.input-box input:focus{
    box-shadow: 0 0 5px  rgba(106,90,205,0.3);
}
.form .column{
    display: flex;
    column-gap: 15px;

}
.form .gender-box{
    margin-top: 20px;
}
.gender-box h3{
    color:#333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form .gender-option, .gender {
    display: flex;
    column-gap: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.form .gender{
    column-gap: 5px;
       
}
.gender input{
    accent-color:#3832b8 ;
    
}
.form .gender input, .gender label{
    cursor: pointer;
   
}
.gender label{
    color:#707070;
}
.address input, .select-box{
  margin-top: 15px;
}
.select-box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}
.form button{
    height: 55px;
    width: 100%;
    margin-top: 30px ;
    background-color: #3832b8;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition:all 0.3s ease ;
    }
.form button:hover{
  background-color: #5855b7;  
}

/* ! RESPONSIVE */
@media screen and (max-width:500px){
    .form .column{
        flex-wrap: wrap;

    }
    .form .gender-option, .gender{
        row-gap: 15px;
    }
  
    }